.horseman-content {outline: 1px solid #CCCCCC;}
.horseman-content.dirty {outline: 1px solid #CC0000;}
.horseman-section {outline: 1px solid #CCCCCC;}
.horseman-article {outline: 1px solid #CCCCCC;}

.hideoutlines .horseman-content, .hideoutlines .horseman-section, .hideoutlines .horseman-article {
	outline: none;
}

.toolbar {
	height: calc(100vh - 20px);
	width: 20%;
	background-color: #cccccc;
	position: fixed;
	left:80%;
	top: 10px;
	z-index: 10000;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	padding: 10px;
	transition: left 0.5s ease-in-out, width 0.5s ease-in-out;
}
.toolbar.hidden {
	left: 100%;
}

.toolbar button {
	border: none;
	background-color: transparent;
}


.toolbar .toggleHide {
	position: fixed;
	top: 10px;
	right: 0px;
	z-index: 10000;
	background-color: rgba(204,204,204,0.5);
	font-size: 2em;
	padding: 10px;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}

.toolbar-sourceeditor {
	display: none;
	position: absolute;
	left: 10px;
	top: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	transition: display 0.5s;
}
.toolbar-sourceeditor textarea.sourcecode {
	height: calc(100% - 50px);
	width: 100%;
}

.toolbar.sourceeditoropen .toolbar-sourceeditor {
	display: block;
	transition: display 1s;
}

.toolbar.sourceeditoropen {
	width: calc(100% - 20px);
	left: 20px
}

.toolbar-onlyshowwhendirty {
	display: none;
}
.toolbar.dirty .toolbar-onlyshowwhendirty {
	display: block;
}
.toolbar-currentarticle, .toolbar-currentsection, .toolbar-currentcontent {
	display: none;
}
.toolbar.bound .toolbar-currentarticle, .toolbar.bound .toolbar-currentsection, .toolbar.bound .toolbar-currentcontent {
	display: block;
}

.editor-menu-group {
	display: inline-block;
	margin-left: 1px solid black;
	margin-right: 1px solid black;
}

.lightbox-wrapper {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.85);
}

.lightbox {
	width: 400px;
	height: 300px;
	padding: 10px;
	padding-top: 20px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	margin: auto;
	background-color: #CCCCCC;
	position: absolute;
	border-radius: 8px;
}

.lightbox-close {
	position: absolute;
	top: 5px;
	right: 5px;
}

