.c-1of12 {width: 8.33333%;}
.c-2of12 {width: 16.66667%;}	
.c-3of12, .c-1of4 {width: 25%;}
.c-4of12, .c-1of3 {width: 33.33333%;}
.c-5of12 {width: 41.66667%;}
.c-6of12, .c-1of2, .c-2of4 {width: 50%;}
.c-7of12 {width: 58.33333%;}
.c-8of12, .c-2of3 {width: 66.66667%;}
.c-9of12, .c-3of4 {width: 75%;}
.c-10of12 {width: 83.33333%;}
.c-11of12 {width: 91.66667%;}
.c-12of12, .c-2of2, .c-3of3, .c-4of4 {width: 100%;}

